@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.pt-serif-regular {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .pt-serif-bold {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .pt-serif-regular-italic {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .pt-serif-bold-italic {
    font-family: "PT Serif", serif;
    font-weight: 700;
    font-style: italic;
  }
  

  /* globals.css */

body {
  font-family: 'PT Serif', serif; /* Set your desired font family */
  font-weight: 300; /* Change to your desired font weight */
  color: #FFFFFF; /* Set a default text color */
  background-color: #000000; /* Optional: Set a default background color */
}

h1, h2, h3, h4, h5, h6, p, a {
  font-weight: 300; /* Adjust as necessary */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Optional: Add text shadow */
}

h4 {
  background: linear-gradient(to right, #fa4705, #FFD700);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}


/* You can also add specific styles for links */
a {
  text-decoration: none; /* Remove underline from links */
  color: inherit; /* Make links inherit the font color */
}




@tailwind base;
@tailwind components;
@tailwind utilities;

